# build output
dist/
.astro/

# dependencies
node_modules/

# env
.env
.env.production

# editor/OS
.DS_Store
# wrangler files
.wrangler
.dev.vars*
# wrangler files

.wrangler

.dev.vars*
# webflow cli build artifacts
.tmp/
